body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1852px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1824px;
  height:501px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2294 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:25px;
  width:1824px;
  height:501px;
}
#u2294_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1823px;
  height:37px;
  background:inherit;
  background-color:rgba(36, 42, 48, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u2295 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:25px;
  width:1823px;
  height:37px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u2295_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:1819px;
  word-wrap:break-word;
}
#u2296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2296 {
  border-width:0px;
  position:absolute;
  left:1820px;
  top:29px;
  width:30px;
  height:30px;
}
#u2296_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2297 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:198px;
  width:73px;
  height:25px;
}
#u2297_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2299 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:258px;
  width:1778px;
  height:189px;
}
#u2300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:37px;
}
#u2300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:37px;
}
#u2300_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u2301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
}
#u2301 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:0px;
  width:109px;
  height:37px;
}
#u2301_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u2302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:37px;
}
#u2302 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:0px;
  width:144px;
  height:37px;
}
#u2302_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u2303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:37px;
}
#u2303 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:0px;
  width:146px;
  height:37px;
}
#u2303_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:142px;
  word-wrap:break-word;
}
#u2304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:37px;
}
#u2304 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:0px;
  width:146px;
  height:37px;
}
#u2304_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:142px;
  word-wrap:break-word;
}
#u2305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:37px;
}
#u2305 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:0px;
  width:146px;
  height:37px;
}
#u2305_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:142px;
  word-wrap:break-word;
}
#u2306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:37px;
}
#u2306 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:0px;
  width:146px;
  height:37px;
}
#u2306_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:142px;
  word-wrap:break-word;
}
#u2307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:37px;
}
#u2307 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:0px;
  width:146px;
  height:37px;
}
#u2307_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:142px;
  word-wrap:break-word;
}
#u2308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:37px;
}
#u2308 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:0px;
  width:146px;
  height:37px;
}
#u2308_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:142px;
  word-wrap:break-word;
}
#u2309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:37px;
}
#u2309 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:0px;
  width:146px;
  height:37px;
}
#u2309_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:142px;
  word-wrap:break-word;
}
#u2310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:37px;
}
#u2310 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:0px;
  width:146px;
  height:37px;
}
#u2310_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:142px;
  word-wrap:break-word;
}
#u2311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:37px;
}
#u2311 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:0px;
  width:172px;
  height:37px;
}
#u2311_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:168px;
  word-wrap:break-word;
}
#u2312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:38px;
}
#u2312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:37px;
  width:185px;
  height:38px;
}
#u2312_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
}
#u2313 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:37px;
  width:109px;
  height:38px;
}
#u2313_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:105px;
  word-wrap:break-word;
}
#u2314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
}
#u2314 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:37px;
  width:144px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2314_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:140px;
  word-wrap:break-word;
}
#u2314_ann {
  border-width:0px;
  position:absolute;
  left:424px;
  top:37px;
  width:1px;
  height:1px;
}
#u2315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2315 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:37px;
  width:146px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2315_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2316 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:37px;
  width:146px;
  height:38px;
}
#u2316_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2317 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:37px;
  width:146px;
  height:38px;
}
#u2317_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2318 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:37px;
  width:146px;
  height:38px;
}
#u2318_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2319 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:37px;
  width:146px;
  height:38px;
}
#u2319_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2320 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:37px;
  width:146px;
  height:38px;
}
#u2320_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2321 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:37px;
  width:146px;
  height:38px;
}
#u2321_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2322 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:37px;
  width:146px;
  height:38px;
}
#u2322_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:38px;
}
#u2323 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:37px;
  width:172px;
  height:38px;
}
#u2323_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:38px;
}
#u2324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:75px;
  width:185px;
  height:38px;
}
#u2324_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
}
#u2325 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:75px;
  width:109px;
  height:38px;
}
#u2325_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:105px;
  word-wrap:break-word;
}
#u2326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
}
#u2326 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:75px;
  width:144px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2326_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:140px;
  word-wrap:break-word;
}
#u2327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2327 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:75px;
  width:146px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2327_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2328 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:75px;
  width:146px;
  height:38px;
}
#u2328_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2329 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:75px;
  width:146px;
  height:38px;
}
#u2329_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:75px;
  width:146px;
  height:38px;
}
#u2330_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2331 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:75px;
  width:146px;
  height:38px;
}
#u2331_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2332 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:75px;
  width:146px;
  height:38px;
}
#u2332_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2333 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:75px;
  width:146px;
  height:38px;
}
#u2333_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2334 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:75px;
  width:146px;
  height:38px;
}
#u2334_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:38px;
}
#u2335 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:75px;
  width:172px;
  height:38px;
}
#u2335_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:38px;
}
#u2336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:113px;
  width:185px;
  height:38px;
}
#u2336_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:113px;
  width:109px;
  height:38px;
}
#u2337_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:105px;
  word-wrap:break-word;
}
#u2338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
}
#u2338 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:113px;
  width:144px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2338_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:140px;
  word-wrap:break-word;
}
#u2339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2339 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:113px;
  width:146px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2339_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2340 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:113px;
  width:146px;
  height:38px;
}
#u2340_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2341 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:113px;
  width:146px;
  height:38px;
}
#u2341_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2342 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:113px;
  width:146px;
  height:38px;
}
#u2342_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2343 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:113px;
  width:146px;
  height:38px;
}
#u2343_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2344 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:113px;
  width:146px;
  height:38px;
}
#u2344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2345 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:113px;
  width:146px;
  height:38px;
}
#u2345_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2346 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:113px;
  width:146px;
  height:38px;
}
#u2346_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:38px;
}
#u2347 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:113px;
  width:172px;
  height:38px;
}
#u2347_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:38px;
}
#u2348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:151px;
  width:185px;
  height:38px;
}
#u2348_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
}
#u2349 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:151px;
  width:109px;
  height:38px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u2349_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u2350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
}
#u2350 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:151px;
  width:144px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2350_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:140px;
  word-wrap:break-word;
}
#u2351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2351 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:151px;
  width:146px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2351_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2352 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:151px;
  width:146px;
  height:38px;
}
#u2352_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2353 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:151px;
  width:146px;
  height:38px;
}
#u2353_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2354 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:151px;
  width:146px;
  height:38px;
}
#u2354_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2355 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:151px;
  width:146px;
  height:38px;
}
#u2355_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2356 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:151px;
  width:146px;
  height:38px;
}
#u2356_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2357 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:151px;
  width:146px;
  height:38px;
}
#u2357_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u2358 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:151px;
  width:146px;
  height:38px;
}
#u2358_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u2359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:38px;
}
#u2359 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:151px;
  width:172px;
  height:38px;
}
#u2359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2360 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:306px;
  width:170px;
  height:16px;
}
#u2360_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u2360_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2361 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:344px;
  width:170px;
  height:16px;
}
#u2361_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u2361_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2362 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:383px;
  width:170px;
  height:16px;
}
#u2362_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u2362_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2363 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:418px;
  width:170px;
  height:16px;
}
#u2363_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u2363_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2364 {
  border-width:0px;
  position:absolute;
  left:1655px;
  top:302px;
  width:73px;
  height:25px;
}
#u2364_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2365 {
  border-width:0px;
  position:absolute;
  left:1742px;
  top:302px;
  width:73px;
  height:25px;
}
#u2365_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2366 {
  border-width:0px;
  position:absolute;
  left:1655px;
  top:341px;
  width:73px;
  height:25px;
}
#u2366_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2367 {
  border-width:0px;
  position:absolute;
  left:1742px;
  top:341px;
  width:73px;
  height:25px;
}
#u2367_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2368 {
  border-width:0px;
  position:absolute;
  left:1655px;
  top:378px;
  width:73px;
  height:25px;
}
#u2368_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2369 {
  border-width:0px;
  position:absolute;
  left:1742px;
  top:378px;
  width:73px;
  height:25px;
}
#u2369_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2370 {
  border-width:0px;
  position:absolute;
  left:1655px;
  top:416px;
  width:73px;
  height:25px;
}
#u2370_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2371 {
  border-width:0px;
  position:absolute;
  left:1742px;
  top:416px;
  width:73px;
  height:25px;
}
#u2371_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2372 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:98px;
  width:76px;
  height:16px;
  text-align:right;
}
#u2372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2373 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:95px;
  width:161px;
  height:25px;
}
#u2373_input {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2373_input:disabled {
  color:grayText;
}
#u2374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2374 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:100px;
  width:101px;
  height:16px;
  text-align:right;
}
#u2374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u2375 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:94px;
  width:161px;
  height:25px;
}
#u2375_input {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2376 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:146px;
  width:101px;
  height:16px;
  text-align:right;
}
#u2376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u2377 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:143px;
  width:161px;
  height:25px;
}
#u2377_input {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2378 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:98px;
  width:101px;
  height:16px;
  text-align:right;
}
#u2378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u2379 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:95px;
  width:161px;
  height:25px;
}
#u2379_input {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2380 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:146px;
  width:101px;
  height:16px;
  text-align:right;
}
#u2380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u2381 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:143px;
  width:161px;
  height:25px;
}
#u2381_input {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
