body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:971px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:358px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1568 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:27px;
  width:572px;
  height:358px;
  opacity:0.4;
}
#u1568_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1569_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:510px;
  height:313px;
}
#u1569 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:51px;
  width:500px;
  height:303px;
}
#u1569_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:40px;
}
#u1570 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:51px;
  width:500px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u1570_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:496px;
  word-wrap:break-word;
}
#u1571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1571 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:293px;
  width:160px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1571_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:156px;
  word-wrap:break-word;
}
#u1572 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:118px;
  width:227px;
  height:26px;
}
#u1572_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1573 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:123px;
  width:76px;
  height:16px;
  text-align:right;
}
#u1573_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u1574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1574 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:172px;
  width:76px;
  height:16px;
  text-align:right;
}
#u1574_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u1575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:2px;
}
#u1575 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:91px;
  width:500px;
  height:1px;
}
#u1575_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1576 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:172px;
  width:227px;
  height:91px;
}
#u1576_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:91px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
